<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
<% if user_signed_in? %>
  <ul class="menu">
    <li><a href="<%= recipe_food_index_path %>" class="pages-links btn-foods">Foods</a></li>
    <li><a href="<%= recipe_index_path %>" class="pages-links btn-recipes">Your Recipes</a></li>
    <li><a href="<%= public_recipe_index_path %>" class="pages-links btn-recipes">Public Recipes</a></li>
  </ul>
<% end %>


      </header>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
